[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/robcog-iai/UROSBridge.git
[submodule "Plugins/UE4_GPUPointCloudRenderer"]
	path = Plugins/UE4_GPUPointCloudRenderer
	url = https://github.com/ValentinKraft/UE4_GPUPointCloudRenderer.git
[submodule "Plugins/UDisplayTypes"]
	path = Plugins/UDisplayTypes
	url = https://github.com/bjoernveit/UDisplayTypes.git
